<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navbar" class="navbar sticky-top navbar-expand navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img src="https://t3.ftcdn.net/jpg/02/65/92/28/360_F_265922875_va16626W04wHQudRTErysI6ppZXZADWv.jpg" height="78" alt="CoolBrand">
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/login" class="nav-item nav-link active">Login</a>
                <a href="/user/profile" class="nav-item nav-link">Profile</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a href="/user/favorites" class="nav-item nav-link"><img src="https://cdn3.iconfinder.com/data/icons/basic-ui-elements-black/300/05-512.png" height="25px" alt="heart"> </a>
            </div>
        </div>
    </div>
</nav>
</html>