<!DOCTYPE html>
<html lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <title>Create Listing</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container text-center">

    <h1>Create Listing</h1>
    <form class="form-group" th:method="post" th:action="@{/createListing}" th:object="${listing}">

        <img th:src="*{photoURL}">

        <label for="createPrice">Price</label>
        <input class="form-control" id="createPrice" type="number" th:field="*{price}">

        <label for="createBed">Bed</label>
        <input class="form-control" id="createBed" type="number" th:field="*{bed}">

        <label for="createBath">Description</label>
        <input class="form-control" id="createBath" type="number" th:field="*{bath}">

        <label for="createSqft">SquareFt</label>
        <input class="form-control" id="createSqft" type="number" th:field="*{sqft}">

        <label for="createAddress1">Address Line 1</label>
        <input class="form-control" id="createAddress1" type="text" th:field="*{address1}">

        <label for="createAddress2">Address Line 2</label>
        <input class="form-control" id="createAddress2" type="text" th:field="*{address2}">

        <label for="city">City</label>
        <input class="form-control" id="city" type="text" th:field="*{city}">

        <label for="state">State</label>
        <input class="form-control" id="state" type="text" th:field="*{state}">

        <label for="zip">Zip</label>
        <input class="form-control" id="zip" type="number" th:field="*{zip}"><br>

        <button class="btn btn-secondary btn-lg btn-block" type="submit">Create</button>

    </form>

</div>

<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>