<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <title>Favorites User</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div>
    <h1>Welcome To Favorites</h1>
    <!--  This page is just for favorite listings which will pull from api  -->
</div>

<form th:action="@{/logout}" th:method="post">
    <button class="btn-block btn" style="margin-top: 8px">Logout</button>
</form>
<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/scripts :: scripts"></script>
<!--<script src="js/filestack.js" type="text/javascript"></script>-->
</body>
</html>