<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="partials/head :: head">-->
    <title>Hero</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div>
    <h1>Welcome To My Home Page</h1>
    <div class="zillowFetch"></div>
    <img src="" id="zillowImg" />
</div>


<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/scripts :: scripts"></script>
<script src="js/zillowAPI.js" type="text/javascript"></script>
</body>
</html>