<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <title>Login</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container text-center">
    <h1>Log In</h1>
    <div th:if="${param.error}">
        Invalid Username and Password.
    </div><br>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <form th:action="@{/login}" method="post">
        <label for="username">Username</label><br>
        <input id="username" name="username" type="text" /><br>
        <label for="password">Password</label><br>
        <input id="password" name="password" type="password" /><br>
        <input type="submit" value="Log In" />
    </form>
</div>

<div class="text-center"><a href="/register" class="text-center">Not registered?</a></div>
<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>