<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <title>Profile User</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h3>Welcome Back</h3>
<div class="card">
    <div class="card-body" th:each="user:${user}">
        <h2 class="card-title" th:text="${user.firstName}"></h2>
        <h2 class="card-text" th:text="${user.lastName}"></h2>
        <h2 class="card-text" th:text="${user.email}"></h2>
        <h2 class="card-text" th:text="${user.location}"></h2>
</div>
    <form class="form-group" method="get" th:action="@{|/editProfile/${user.id}|}">
        <button class="form-control btn-sm" name="editProfile" type="submit" id="editProfile">Edit Profile</button>
    </form>

<h5>Create New Listing</h5>
<form class="form-group" method="get" th:action="@{|/createListing|}">
    <button class="form-control btn-sm" name="create" type="submit" id="create">Create New Listing</button>
</form>
<h1>My Listings</h1>
<div class="card" th:each="listing:${user.listing}">
    <div class="card-body">
        <h2 class="card-title" th:text="${listing.title}"></h2>
        <h2 class="card-text" th:text="${listing.price}"></h2>
        <h2 class="card-text" th:text="${listing.description}"></h2>
        <h2 class="card-text" th:text="${listing.squareFt}"></h2>
        <h2 class="card-text" th:text="${listing.location}"></h2>
    </div>

        <form class="form-group" method="get" th:action="@{|/edit/${listing.id}|}">
            <button class="form-control btn-sm" name="edit" type="submit" id="edit">Edit Listing</button>
        </form>
        <form class="form-group" method="post" th:action="@{|/delete/${listing.id}|}">
            <button class="form-control btn-sm" name="delete" type="submit" id="delete">Delete Listing</button>
        </form>
    </div>
</div>

<form th:action="@{/logout}" th:method="post">
    <button class="btn-block btn" style="margin-top: 8px">Logout</button>
</form>

<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>