<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head">
    <title>Profile User</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h3 class="text-center">Welcome Back</h3>
<div class="card text-center">
    <div class="card-body" th:each="user:${user}">
        <img th:src="${user}" width="400px" height="200px" alt="photoUrl" class="text-center" id="photoUrl">
        <h2 class="card-title" th:text="${user.firstName}"></h2>
        <h2 class="card-text" th:text="${user.lastName}"></h2>
        <h2 class="card-text" th:text="${user.email}"></h2>
        <h2 class="card-text" th:text="${user.location}"></h2>
    </div>
    <form class="form-group" method="get" th:action="@{|/editProfile/${user.id}|}">
        <button class="form-control btn-sm" name="editProfile" type="submit" id="editProfile">Edit Profile</button>
    </form>

    <h5>Create New Listing</h5>
    <form class="form-group" method="get" th:action="@{|/createListing|}">
        <button class="form-control btn-sm" name="create" type="submit" id="create">Create New Listing</button>
    </form>
    <h1 class="text-center">My Listings</h1>
    <!--    <div class="row row-cols-1 row-cols-md-2">-->
    <!--        <div class="col-mb-4">-->
    <div class="card" th:each="listing:${user.listing}">
        <div th:if="${listing.photos.size() != 0}"><img th:src="${listing.photos.get(0).locationUrl}"
                                                        height="600px" alt="listingPhoto"
                                                        class="text-center card-img-top" id="listingPhoto">
        </div>
        <div class="card-body text-center">
            <h3>Title:</h3>
            <h4 class="card-text" id="title" th:text="${listing.title}"></h4>
            <h3>Price:</h3>
            <h4 class="card-text" th:text="${listing.price}"></h4>
            <h3>Description:</h3>
            <h4 class="card-text" th:text="${listing.description}"></h4>
            <h3>Square Feet:</h3>
            <h4 class="card-text" th:text="${listing.squareFt}"></h4>
            <!--        <h2 class="card-text" th:text="${listing.location}"></h2>-->
            <h3>Address Line 1:</h3>
            <h4 class="card-text" th:text="${listing.location.address1}"></h4>
            <h3>Address Line 2:</h3>
            <h4 class="card-text" th:text="${listing.location.address2}"></h4>
            <h3>City:</h3>
            <h4 class="card-text" th:text="${listing.location.city}"></h4>
            <h3>State:</h3>
            <h4 class="card-text" th:text="${listing.location.state}"></h4>
            <h3>Zip:</h3>
            <h4 class="card-text" th:text="${listing.location.zip}"></h4>

            <!--        .address , .city ect -->
        </div>

        <form class="form-group" method="get" th:action="@{|/edit/${listing.id}|}">
            <button class="form-control btn-sm" name="edit" type="submit" id="edit">Edit Listing</button>
        </form>
        <form class="form-group" method="post" th:action="@{|/delete/${listing.id}|}">
            <button class="form-control btn-sm" name="delete" type="submit" id="delete">Delete Listing</button>
        </form>
    </div>
</div>
<!--    </div>-->
<!--</div>-->


<form th:action="@{/logout}" th:method="post">
    <button class="btn-block btn" style="margin-top: 8px">Logout</button>
</form>

<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/scripts :: scripts"></script>
<script src="//static.filestackapi.com/filestack-js/{LIBRARY_VERSION}/filestack.min.js.gz" integrity="{FILE_HASH}"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="../static/js/filestack.js" type="text/javascript"></script>
</body>
</html>